body{
    background-color: #C4B0FF;
    color: black;
}
#loginhome .login h3{
    color: black;
  text-align: center;
  margin-top: 50px;
}

#loginhome .box{
    width: 400px;
    margin: 0 auto;
    background-color: #8696FE;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}




.sidebar_bgcolor{
    background-color: #8696FE !important;
}

.navbar_background{
    background-color: #45aaf2 !important;
}

.box{
    width: 1200px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


